#logs
logs
*.log
crash.log

# Yarn Integrity file
.yarn-integrity

# CI cache
.ci
.local.env

# Store files
.DS_Store
.idea/

# vs code specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix